@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: #22223b;
  color: #f2e9e4;
}

main {
  grid-column: 2;
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
}

input[type="text"] {
  width: 250px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 3px;
}

#location-container {
  text-align: center;
}

#location-heading {
  font-size: 2.8em;
}

#current-weather {
  height: 250px;
  width: 500px;
  background-color: #2d2d4f;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #252541;
}

#current-img-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-img-div svg {
  height: 150px;
  width: 150px;
  fill: #f2e9e4;
}

#current-info-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
  font-size: 1.2em;
}

#forecast-container {
  grid-row-start: 2;
  grid-column: 1 / -1;
  height: 220px;
  width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #2d2d4f;
  border-radius: 5px;
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#forecast-display {
  height: 200px;
  width: 1360px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#day-reel {
  width: 1360px;
  display: flex;
  position: relative;
  right: 0;
  transition: right 300ms ease-in-out;
}

.forecast-hour {
  height: 180px;
  min-width: 170px;
  border: 1px solid #fff;
  background-color: #22223b;
  display: grid;
  padding: 2px;
  font-size: 0.9rem;
}

.hour-time {
  background-color: #1c1c30;
  width: fit-content;
  height: fit-content;
  padding: 3px 5px 5px 3px;
  border-bottom-right-radius: 3px;
}

.hour-img {
  justify-self: center;
}

.hour-info {
  display: flex;
  justify-self: center;
  align-self: center;
}

.hour-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hour-info-section:nth-child(2) {
  border-left: 1px solid #ffffff8d;
  border-right: 1px solid #ffffff8d;
  padding: 0 8px 0 8px;
  margin: 0 8px 0 8px;
}

.info-title {
  padding-bottom: 12px;
}

.hourly-left,
.hourly-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 25px;
  width: 85x;
  background-color: #1c1c30;
  top: -120px;
}

.hourly-left:hover,
.hourly-right:hover {
  cursor: pointer;
}

.hourly-left {
  left: 0;
  border-radius: 5px 0 5px 0;
}

.hourly-right {
  right: 0;
  border-radius: 0 5px 0 5px;
}

#scroll-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
